body {
color: #45131e;
font-family: Tahoma, serif;
}
p {
font: 17px Arial, sans-serif;
font-family: Georgia, "Times New Roman";
}

h3 {
margin: 1% 0;
font: 20px Arial, sans-serif;
font-family: Georgia, "Times New Roman";
}

details {
  margin: 2% 0;
}

p4 {
font: 20px Arial, sans-serif;
font-family: Georgia, "Times New Roman";
outline: 2px solid #000;
}

a {
  text-decoration: none;
  color: red;
  text-shadow: 2px 2px #558ABB;
  font-family: Georgia, "Times New Roman";
  outline: 2px solid #000;
  font-size: 40px;
}
a:hover {
  color: yellow;
  text-shadow: 2px 2px #558ABB;
  font-family: Georgia, "Times New Roman";
  outline: 2px solid #000;
  font-size: 40px;
}

#output {
  top:0px;
  left: 1000px;
  position: absolute;
  margin: 0px 100px 100px 0px;
}