.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

body {
font-family: Tahoma, serif;
}
h1 {
color: #199999;
text-shadow: 2px 2px #558ABB;
font-family: Georgia, "Times New Roman";
outline: 2px solid #000;
}

a {
  color: red;
  text-shadow: 2px 2px #558ABB;
  font-family: Georgia, "Times New Roman";
  outline: 2px solid #000;
  font-size: 30px;
}

a:hover {
  color: blue;
  text-shadow: 2px 2px #558ABB;
  font-family: Georgia, "Times New Roman";
  outline: 2px solid #000;
  font-size: 30px;
}